.search-top-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.search-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.search-form {
  display: flex;
  height: 40px;
  padding: 2px;
  border-radius: 5px;
  background: var(--secondary-color);
  border: 1px solid var(--gray-light);
  width: 300px;
}

.search-input {
  flex: 1;
  padding: 0px 8px;
  color: var(--black);
  font-weight: 400;
  background: none;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0 15px;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: var(--gray-medium);
  transition: all 0.5s ease;
}

.search-btn:hover {
  color: var(--accent-color);
}

.filter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem 0;
  background-color: var(--secondary-color);
  padding: 2rem 1rem;
  border-radius: 4px;
}

.filter-item label {
  display: block;
  color: var(--gray-500);
  font-weight: 400;
  font-size: 18px;
}

.vertical-divider {
  border-left: 3px solid var(--primary-color);
  height: 50px;
}

.filter-item input {
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}

.filter-item select {
  border: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
}
